#register-login-form {
  margin: 0 auto;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
}

#email-input {
  margin-bottom: 40px;
}

input {
  height: 35px;
  width: 70%;
  font-size: 15px;
  border-radius: 6px;
  border-width: 0.1px;
  margin: 0 auto;
  /* background: linear-gradient(to right bottom, #24fcd452, #21ffd632); */
}

button {
  border-radius: 14px;
  border: 2px solid #4d726b;
  border-width: 0.4vh;
  background-color: rgba(0, 0, 0, 0);
  margin: 35px auto 55px auto;
  width: 40%;
  height: 35px;
  /* font-size: clamp(1.3rem, 2.2vw, 2.5rem); */
  border-radius: 6px;
  border-width: 0.1px;
  cursor: pointer;
  color: #505050;
  background-color: rgba(0, 0, 0, 0);
}

.register-login-body {
  width: 85%;
  margin: 0 auto;
}

#password-label {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#already-have-account {
  text-align: center;
  margin: 3vh 0 0 0;
}

/* ----------------------------------------------------------------------- */

@media all and (min-width: 1000px) {
  .register-login-body {
    width: 30%;
  }

  button {
    border-width: 0.35vh;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  #password-label {
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
}