#register-login-form {
  margin: 0 auto;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 3vh;
  font-size: 25px;
  border-radius: 12px;
  border-width: 0.1px;
  margin: 0 auto;
}

button {
  margin: 2vh auto 0 auto;
  width: 40%;
  height: 5vh;
  font-size: clamp(1.3rem, 2.2vw, 2.5rem);
  border-radius: 14px;
  border: 2px solid #4d726b;
  border-width: 0.4vh;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
