h2 {
  padding: 0 0 0 15px;
}

.page-body {
  margin: 0 auto;
}

@media all and (min-width: 600px) {
  h1 {
    font-size: 35px;
    margin: 0.3em 0 0.4em 0;
  }

  .page-body {
    width: 70%;
    margin-top: 25px;
  }

  .page-content {
    margin-top: 40px;
  }
}
