h2 {
  padding: 0 0 0 15px;
}

.page-body {
  margin: clamp(0.5em, 5vw, 8em);
}

@media all and (min-width: 600px) {
  h1 {
    font-size: 40px;
    margin: 0.3em 0 0.4em 0;
  }

  h2 {
    font-size: 35px;
  }

  div {
    font-size: 28px;
  }

  .page-body {
    width: 70%;
    margin: 0 auto;
  }
}
